{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
    <h1>{{ article.titre }}</h1>
    <p>{{ article.createdAt|date }}</p>
    <div>{{ article.contenu|raw }}</div>

    <p>Catégories : 
        {% for categorie in article.categories %}
            {{ categorie.nom }} 
        {% endfor %}
    </p>
{% endblock %}
